header{
    border-bottom: 1px solid var(--border-color);
   }
  
  .page-header .container{
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  
  
   .main-nav{
    display: flex;
    align-items: center;
  }
  
  